<!DOCTYPE html>

<html>
    <head>
        <title>services</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="author" content="Bastianello Federico">
        <style>
            *{
                margin:0;
                padding:0;
                font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;        
            }
            main{
                width: 100%
            }
            main div{
                width: 80%;
                display: flex;
                flex-direction: column;
                text-align: center;
                margin: 0 auto;
            }

        </style>
    </head>
    <body>
        <main>
            <div><br>
                <h1>Servizi in ascolto della macchina</h1>
                {% for port, service in servizi.items %}
                    <span><span>{{ port }}</span> : <span>{{ service }}</span></span><br>    
                {% endfor %}
            </div>
        </main>
    </body>
</html>